In [19]:
import warnings
warnings.filterwarnings('ignore')

from scipy.stats import *
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf
import statsmodels.stats.multitest as smm
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [26]:
answers = []
data = pd.read_csv("gene_high_throughput_sequencing.csv")

In [3]:
data.head()

,Patient_id,Diagnosis,LOC643837,LOC100130417,SAMD11,NOC2L,KLHL17,PLEKHN1,C1orf170,HES4,...,CLIC2,RPS4Y1,ZFY,PRKY,USP9Y,DDX3Y,CD24,CYorf15B,KDM5D,EIF1AY
0,STT5425_Breast_001_normal,normal,1.257614,2.408148,13.368622,9.494779,20.880435,12.722017,9.494779,54.349694,...,4.761250,1.257614,1.257614,1.257614,1.257614,1.257614,23.268694,1.257614,1.257614,1.257614
1,STT5427_Breast_023_normal,normal,4.567931,16.602734,42.477752,25.562376,23.221137,11.622386,14.330573,72.445474,...,6.871902,1.815112,1.815112,1.815112,1.815112,1.815112,10.427023,1.815112,1.815112,1.815112
2,STT5430_Breast_002_normal,normal,2.077597,3.978294,12.863214,13.728915,14.543176,14.141907,6.232790,57.011005,...,7.096343,2.077597,2.077597,2.077597,2.077597,2.077597,22.344226,2.077597,2.077597,2.077597
3,STT5439_Breast_003_normal,normal,2.066576,8.520713,14.466035,7.823932,8.520713,2.066576,10.870009,53.292034,...,5.200770,2.066576,2.066576,2.066576,2.066576,2.066576,49.295538,2.066576,2.066576,2.066576
4,STT5441_Breast_004_normal,normal,2.613616,3.434965,12.682222,10.543189,26.688686,12.484822,1.364917,67.140393,...,11.227770,1.364917,1.364917,1.364917,1.364917,1.364917,23.627911,1.364917,1.364917,1.364917

In [8]:
data.describe()

,LOC643837,LOC100130417,SAMD11,NOC2L,KLHL17,PLEKHN1,C1orf170,HES4,ISG15,AGRN,...,CLIC2,RPS4Y1,ZFY,PRKY,USP9Y,DDX3Y,CD24,CYorf15B,KDM5D,EIF1AY
count,72.000000,72.000000,72.000000,72.000000,72.000000,72.000000,72.000000,72.000000,72.000000,72.000000,...,72.000000,72.000000,72.000000,72.000000,72.000000,72.000000,72.000000,72.000000,72.000000,72.000000
mean,2.463922,7.100958,19.056151,15.618688,23.537120,11.303466,8.921396,63.270147,53.906324,70.678573,...,5.563444,2.192029,1.967424,2.181360,1.729308,1.980733,16.834075,1.825827,2.287380,1.756827
std,1.413687,4.164703,9.287753,4.664146,4.475294,4.055122,3.270713,13.792140,45.635498,21.326237,...,2.389789,2.454218,2.047129,2.542652,1.507149,2.230157,7.126802,1.902716,3.185571,1.623151
min,0.833898,1.231043,4.941211,6.395270,8.520713,2.066576,1.364917,42.544976,24.616767,42.631422,...,1.144240,0.853957,0.853957,0.853957,0.833898,0.833898,4.675683,0.833898,0.853957,0.833898
25%,1.284642,3.892403,13.423946,12.574596,21.151624,8.712898,6.213396,53.093627,34.009687,54.202100,...,3.805875,1.042783,1.011350,1.011350,1.003337,1.003337,11.186633,1.003337,1.011350,1.003337
50%,2.104677,6.315551,16.734855,14.586150,23.477006,11.172590,8.703397,63.230911,39.554954,65.510651,...,5.617824,1.339507,1.273861,1.298543,1.252527,1.252527,16.514389,1.252527,1.273861,1.252527
75%,3.345067,8.916399,21.884325,17.695678,26.471909,13.568625,11.139240,69.880705,50.295756,79.427207,...,7.100942,1.815754,1.647255,1.677971,1.625364,1.611299,21.849385,1.607345,1.647255,1.611299
max,7.364879,20.006038,60.584449,29.659104,34.110743,27.441093,17.121366,132.144503,327.590426,128.606260,...,11.227770,11.913855,10.883310,11.692697,10.392539,10.640754,49.295538,9.919132,17.278985,9.333904

In [4]:
print(set(data.Diagnosis))

{'cancer', 'early neoplasia', 'normal'}

In [6]:
cancer = data[data["Diagnosis"] == 'cancer']
early_neoplasia = data[data["Diagnosis"] == 'early neoplasia']
normal = data[data["Diagnosis"] == 'normal']

In [18]:
normal_vs_early_neoplasia = {}
cancer_vs_early_neoplasia = {}
genes = data.columns[2:]
for gene in genes:
    normal_vs_early_neoplasia[gene] = ttest_ind(normal[gene], early_neoplasia[gene], equal_var = False).pvalue
    cancer_vs_early_neoplasia[gene] = ttest_ind(cancer[gene], early_neoplasia[gene], equal_var = False).pvalue

In [41]:
normal_vs_early_neoplasia_df = pd.DataFrame.from_dict(normal_vs_early_neoplasia, 
                                                      orient = 'index', columns = ['p-Value_norm_vs_neo'])
cancer_vs_early_neoplasia_df = pd.DataFrame.from_dict(cancer_vs_early_neoplasia, 
                                                      orient = 'index', columns = ['p-Value_cancer_vs_neo'])

In [42]:
print("Statistically valuable in normal vs early neoplasia: ",
      normal_vs_early_neoplasia_df[normal_vs_early_neoplasia_df["p-Value_norm_vs_neo"] < 0.05].shape[0])
print("Statistically valuable in normal vs early neoplasia: ",
      cancer_vs_early_neoplasia_df[cancer_vs_early_neoplasia_df["p-Value_cancer_vs_neo"] < 0.05].shape[0])

answers.append(normal_vs_early_neoplasia_df[normal_vs_early_neoplasia_df["p-Value_norm_vs_neo"] < 0.05].shape[0])
answers.append(cancer_vs_early_neoplasia_df[cancer_vs_early_neoplasia_df["p-Value_cancer_vs_neo"] < 0.05].shape[0])

Statistically valuable in normal vs early neoplasia:  1575
Statistically valuable in normal vs early neoplasia:  3490

In [43]:
work_df = normal_vs_early_neoplasia_df.join(cancer_vs_early_neoplasia_df, how = 'right')

In [ ]:
reject, p_corrected, a1, a2 = multipletests(sales_correlation.p, 
                                            alpha = 0.05, 
                                            method = 'holm')

              p-Value_norm_vs_neo  p-Value_cancer_vs_neo
LOC643837                0.690766               0.413735
LOC100130417             0.000032               0.653429
SAMD11                   0.060273               0.079556
NOC2L                    0.826429               0.287581
KLHL17                   0.049876               0.463292
...                           ...                    ...
DDX3Y                    0.640904               0.659369
CD24                     0.830134               0.330617
CYorf15B                 0.670395               0.542939
KDM5D                    0.793925               0.565753
EIF1AY                   0.661031               0.639010

[15748 rows x 2 columns]